<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Celebrate</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,300,900,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/cakepage.css">
</head>
<body>
	<div class="container-fluid p_header">
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<img class="h_logo center-block" src="images/logo.png">
			</div>			
			<div class="col-md-3 col-md-offset-6 text-right c_btn">
				<div class="btn-group">
					<button type="button" class="btn btn-lg dropdown-toggle log_btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change city <span class="caret"></span></button>
					<ul class="dropdown-menu">						
						<li><a href="#">Hyderabad</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 check_text effect2">
				<h1 class="text-center">Pick your cake</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row cakes_list">			
			<div class="col-md-3 col-sm-4 col-xs-6 text-center">
				<figure class="figure">
					<div class="hovereffect">
						<img class="img-responsive" src="images/Vanilla-Cake.jpg" alt="">
						<div class="overlay">
							<h2>cake</h2>
							<button type="button" class="btn btn-warning m_drop" data-toggle="modal" data-target=".bs-example-modal-lg">Details</button>						
						</div>
					</div>
					<figcaption class="figure-caption">
						<h4>Fruit Cake</h4>
						<h4>Rs.1000</h4>
						<button class="btn btn-danger" >Buy now</button> 
					</figcaption>
				</figure>						
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 text-center">
				<figure class="figure">
					<div class="hovereffect">
						<img class="img-responsive" src="images/Vanilla-Cake.jpg" alt="">
						<div class="overlay">
							<h2>cake</h2>
							<button type="button" class="btn btn-warning m_drop" data-toggle="modal" data-target=".bs-example-modal-lg">Details</button>						
						</div>
					</div>
					<figcaption class="figure-caption">
						<h4>Fruit Cake</h4>
						<h4>Rs.1000</h4>
						<button class="btn btn-danger" >Buy now</button> 
					</figcaption>
				</figure>						
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 text-center">
				<figure class="figure">
					<div class="hovereffect">
						<img class="img-responsive" src="images/Vanilla-Cake.jpg" alt="">
						<div class="overlay">
							<h2>cake</h2>
							<button type="button" class="btn btn-warning m_drop" data-toggle="modal" data-target=".bs-example-modal-lg">Details</button>						
						</div>
					</div>
					<figcaption class="figure-caption">
						<h4>Fruit Cake</h4>
						<h4>Rs.1000</h4>
						<button class="btn btn-danger" >Buy now</button> 
					</figcaption>
				</figure>						
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 text-center">
				<figure class="figure">
					<div class="hovereffect">
						<img class="img-responsive" src="images/Vanilla-Cake.jpg" alt="">
						<div class="overlay">
							<h2>cake</h2>
							<button type="button" class="btn btn-warning m_drop" data-toggle="modal" data-target=".bs-example-modal-lg">Details</button>						
						</div>
					</div>
					<figcaption class="figure-caption">

						<h4>Fruit Cake</h4>
						<h4>Rs.1000</h4>
						<button class="btn btn-danger" >Buy now</button> 
					</figcaption>
				</figure>						
			</div>
		</div>
	</div>
	<!--modal start-->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="row modal_padding text-center">
					<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 r_content">
						<div class="row text-center">
							<div class="col-md-6  ">
								<img  class="img-res" src="images/vanilla-cake.jpg">
							</div>
							<div class="col-md-6 ">
								<div class="row">
									<div class="col-md-12">
										<h4>Cake Name</h4>
										<h4>Price</h4>
										<div class="form-group">
										<label class="radio-inline">
											<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Egg
										</label>
										<label class="radio-inline">
											<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Eggless
										</label>
										</div>
										<p><strong>Quantity</strong></p>
										<select class="dropdown form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
										</select>
										<div class="form-group">

											<label>Message on cake </label>
											<input type="text" class="form-control form-group" name="messageoncake" placeholder="Type your message">
											<button class="btn btn-danger" type="button">BUY NOW</button>
											<button class="btn btn-danger" type="button">ADD TO CART</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h4>Description</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipisc in elit, sed diam non ummy nibh in euismod tincidunt ut liber tempor laoreet. Nullam viverra orci id lectus aliquam luctus. Aliquam elementum gravida lacus non accumsan. Nullam ultrices purus ac porta tincidunt. Nullam vel scelerisque dui, posuere pulvinar arcu</p>
							</div>
						</div>
						<div class="text-center">					
							<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--modal end-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
</body>
</html>