html{
	font-family: 'Roboto', sans-serif;
}
/*****************************header start******************************/
.p_header{
	background-color:rgb(255,193,7);
	height: 180px;
	background: radial-gradient(ellipse farthest-corner, #f1e466 0%, #ffcc00 100%);
}
.check_text{
	background-color: white;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.above_header{
	height:50px;
	background-color: #FFA000;
}
.h_logo{
	width: 250px;

}
.search_bar{
	margin-top: 30px;
}

/*****************************header end******************************/
.r_search{
	margin-top: 8%;
}
.r_b_ddown{
	color: white;
	background-color: #FF5252;
	height: 40px;
}

.c_btn{
	margin-top: 20px;
	padding-right: 50px;
}
.log_btn{
	background-color: rgba(255,255,255,0);
	color: #B11B65;
	font-size: 20px;
}
.r_s_border{
	height: 40px;
	font-size: 16px;
}
.del_color{
	color: #212121;
	background-color: #FF5252;
	width: 220px;
	border-radius: 10px;
}
.d_l_border{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
.check_text h1{
	font-family: 'Roboto';
	font-weight:100;
	font-size: 50px;
}
h3{
	margin:0px;
	padding-bottom: 10px;
	padding-top: 10px;

	font-family: 'Roboto';
	font-weight: 300;
	font-size: 25px;
}
.check_out{

	margin:10px;
}
.d_type{
	margin-bottom: 20px;
}
@media(max-width: 768px){
	.c_btn{
		text-align: center;
		margin-top: 0px;
		padding-right: 0px;
	}
	.h_logo{
		width: 200px;

	}
	.check_text{
		margin-top: 0px;
	}
}
.cakes_list{
	margin-top: 130px;
}
.figure{
	box-shadow: 0px 6px 10px -5px rgba(0,0,0,0.2)

}
.figure-caption h4{
	line-height: 3.1;
}

.modal_padding{
	padding: 20px;
}
.img-res{
max-width: 100%;
    height: auto;
}
@media(max-width: 410px){
	.col-xs-6{
		width: 100%;
	}
}

/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	box-shadow: black;
 	position: relative;
 }
 .effect2:before, .effect2:after
 {
 	z-index: -1;
 	position: absolute;
 	content: "";
 	bottom: 15px;
 	left: 10px;
 	width: 50%;
 	top: 80%;
 	max-width:300px;
 	background: #777;
 	-webkit-box-shadow: 0 15px 10px #777;
 	-moz-box-shadow: 0 15px 10px #777;
 	box-shadow: 0 15px 10px #777;
 	-webkit-transform: rotate(-3deg);
 	-moz-transform: rotate(-3deg);
 	-o-transform: rotate(-3deg);
 	-ms-transform: rotate(-3deg);
 	transform: rotate(-3deg);
 }
 .effect2:after
 {
 	-webkit-transform: rotate(3deg);
 	-moz-transform: rotate(3deg);
 	-o-transform: rotate(3deg);
 	-ms-transform: rotate(3deg);
 	transform: rotate(3deg);
 	right: 10px;
 	left: auto;
 }

 .radio+.radio {
 	margin-top: 10px;
 }


 /*****************cake*********************************/
 .hovereffect {
 	width:100%;
 	height:100%;
 	float:left;
 	overflow:hidden;
 	position:relative;
 	text-align:center;
 	cursor:default;
 }

 .hovereffect .overlay {
 	width:100%;
 	height:100%;
 	position:absolute;
 	overflow:hidden;
 	top:0;
 	left:0;
 	opacity:0;
 	background-color:rgba(0,0,0,0.5);
 	-webkit-transition:all .4s ease-in-out;
 	transition:all .4s ease-in-out
 }

 .hovereffect img {
 	display:block;
 	position:relative;
 	-webkit-transition:all .4s linear;
 	transition:all .4s linear;
 }

 .hovereffect h2 {
 	text-transform:uppercase;
 	color:#fff;
 	text-align:center;
 	position:relative;
 	font-size:17px;
 	background:rgba(0,0,0,0.6);
 	-webkit-transform:translatey(-100px);
 	-ms-transform:translatey(-100px);
 	transform:translatey(-100px);
 	-webkit-transition:all .2s ease-in-out;
 	transition:all .2s ease-in-out;
 	padding:5px;
 }

 .hovereffect a.info {
 	text-decoration:none;
 	display:inline-block;
 	text-transform:uppercase;
 	color:#fff;
 	border:1px solid #fff;
 	background-color:transparent;
 	opacity:0;
 	filter:alpha(opacity=0);
 	-webkit-transition:all .2s ease-in-out;
 	transition:all .2s ease-in-out;
 	margin:50px 0 0;
 	padding:7px 14px;
 }

 .hovereffect a.info:hover {
 	box-shadow:0 0 5px #fff;
 }

 .hovereffect:hover img {
 	-ms-transform:scale(1.2);
 	-webkit-transform:scale(1.2);
 	transform:scale(1.2);
 }

 .hovereffect:hover .overlay {
 	opacity:1;
 	filter:alpha(opacity=100);
 }

 .hovereffect:hover h2,.hovereffect:hover a.info {
 	opacity:1;
 	filter:alpha(opacity=100);
 	-ms-transform:translatey(0);
 	-webkit-transform:translatey(0);
 	transform:translatey(0);
 }

 .hovereffect:hover a.info {
 	-webkit-transition-delay:.2s;
 	transition-delay:.2s;
 }
